<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="AnimaxEntities" connectionString="metadata=res://*/BaseDataModel.csdl|res://*/BaseDataModel.ssdl|res://*/BaseDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-VIK28HUU\SQLEXPRESS;initial catalog=Animax;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="AnimaxEntities1" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-VIK28HUU\SQLEXPRESS;initial catalog=Animax;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>